<h2>Learn Migration</h2>
<h3>Creation d'un controller et de lien de menu</h3>
<p>Cette page est deployé par le controller <strong>HelloMigrationController</strong></p>
<p>On peut y accéder en utilisant la route <strong>learn_migration.admin.desktop</strong></p>

<h3>Migration from scratch</h3>
<p></p>
<h3>Migration Drupal 7/8 to Drupal 9</h3>